@import "reset.scss";
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  grid-area: header;
  background-color: #ea1e63;
  display: grid;
  align-items: center;
  padding: 15px;
  grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
  &__logo {
    grid-column: 2 / 3;
    width: 70px;
    height: 70px;
    border: 2px solid white;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &__menu {
    grid-column: 3 / 4;
  }
  &__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
    & li {
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 5px 15px;
      transition: all 1s ease 0s;
      -webkit-transition: all 1s ease 0s;
      -moz-transition: all 1s ease 0s;
      -ms-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      -webkit-transition: all 1s ease 0s;
      &:hover {
        transform: translate(5px, 0);
        border-radius: 5px;
        padding: 5px 30px;
        background-color: darkgreen;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        -webkit-transform: translate(5px, 0);
        -moz-transform: translate(5px, 0);
        -ms-transform: translate(5px, 0);
        -o-transform: translate(5px, 0);
      }
    }
  }
  &__link {
    color: white;
    font-size: 16px;
  }
}
.main {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    9deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(143, 251, 147, 1) 24%,
    rgba(39, 229, 217, 1) 40%,
    rgba(255, 0, 0, 1) 60%,
    rgba(7, 0, 255, 1) 100%
  );
}
.sidebar {
  grid-column: 2 / 3;
  background-color: rgb(3, 139, 230);
  padding: 20px 25px;
  margin: 0 0 30px 0;
  &__list {
    display: grid;
    row-gap: 35px;
  }
  &__list li {
    font-size: 30px;
    margin: 0 0 15px 0;
    transition: all 1s ease-out 0s;
    -webkit-transition: all 1s ease-out 0s;
    -moz-transition: all 1s ease-out 0s;
    -ms-transition: all 1s ease-out 0s;
    -o-transition: all 1s ease-out 0s;
    & a {
      color: white;
      margin: 15px 0;
      transition: all 0.4s ease-out 0s;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      &:hover{
        color: yellow;
        font-size: 35px;
      }
    }
    }
}

@media (min-width: 992px){
    .main{
    grid-area: main;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }
    .sidebar {
        grid-column: 2 / 3;
        margin: 0;
    }
    .content{
        grid-column: 3 / 4;
        padding: 0 0 0 30px;
    }
}

.content {
  grid-column: 3 / 4;
  padding: 0 0 0 30px;
  &__title {
    font-size: 40px;
    color: white;
    padding: 0 0 15px 0;
    text-align: center;
  }
  &__gallery {
    margin: 0 0 30px 0;
  }
  &__products {
  }
}
.gallery {
  &__title {
    font-size: 30px;
    color: white;
  }
  &__items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  &__item {
    position: relative;
    padding: 0 0 85% 0;
    & img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: start;
      object-position: start;
      transition: all 1s ease-out 0s;
      -webkit-transition: all 1s ease-out 0s;
      -moz-transition: all 1s ease-out 0s;
      -ms-transition: all 1s ease-out 0s;
      -o-transition: all 1s ease-out 0s;
      &:hover {
        transform: scale3d(10px, 10px, 10px);
        -webkit-transform: scale3d(10px, 10px, 10px);
        -moz-transform: scale3d(10px, 10px, 10px);
        -ms-transform: scale3d(10px, 10px, 10px);
        -o-transform: scale3d(10px, 10px, 10px);
      }
    }
  }
}

@media(min-width: 767px) {
    .gallery__item_big{
            grid-column: span 2;
            grid-row: span 2;
    }
}

.products {
  &_item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto) / 1fr;
  }
  &__title {
      font-size: 40px;
      margin: 15px 0;
      padding: 10px;
      letter-spacing: 5px;
      text-align: center;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 40px;
    row-gap: 50px;
  }
  &__image {
    position: relative;
    padding: 0 0 90% 0;
    margin: 0 0 20px 0;
    & img {
      border-radius: 10px;
      object-fit:cover;
      object-position:center;
      transition: all 1s ease 0s;
      margin: 0 15px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      -webkit-transition: all 1s ease 0s;
      -moz-transition: all 1s ease 0s;
      -ms-transition: all 1s ease 0s;
      -o-transition: all 1s ease 0s;
      &:hover {
        box-shadow: 0px 0px 5px 5px rgb(143, 1, 1);
      }
    }
  }
  &__name {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 24px;
    margin: 0 0 20px 0;
  }
  &__button {
    transition: all 1s ease-in 0s;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    background-color: #77608d;
    border-radius: 5px;
    padding: 0 40px;
    line-height: 40px;
    justify-self: center;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease-in 0s;
    -ms-transition: all 1s ease-in 0s;
    -o-transition: all 1s ease-in 0s;
    -webkit-border-radius: 5pxpx;
    -moz-border-radius: 5pxpx;
    -ms-border-radius: 5pxpx;
    -o-border-radius: 5pxpx;
    &:hover {
      background-color: #b791db;
      padding: 0 60px;
      letter-spacing: 7px;
    }
  }
}
.footer {
  grid-area: footer;
  padding: 15px;
  background-color: rgb(80, 0, 100);
  text-align: center;
  color: white;
  font-size: 25px;
  letter-spacing: 3px;
  &__copy {
      margin: 10px 0;
  }
  &__text {
  }
}
