@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Стилизация */
body {
  background: #61f1e5;
  background: linear-gradient(9deg, #61f1e5 20%, #61adf1 36%, #6161f1 63%, #0300fb 81%, #0700ff 100%);
  color: white;
}

.container {
  margin: 0px;
  max-width: 1500px;
}

.hi {
  padding: 5px 15px;
}
.hi__row {
  display: flex;
  flex-direction: space-between;
  padding: 15px;
  justify-content: space-between;
}
.hi__body {
  color: white;
}
.hi__title {
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: 700;
}
.hi__text {
  font-size: 20px;
  font-weight: 400;
}
.hi__text li {
  background: url("../img/icons/icon.png") 0px 2px no-repeat;
  margin: 20px 0;
  padding: 0 36px;
}
.hi__image {
  align-items: center;
}

.middle__body {
  margin: 15px auto;
  display: flex;
}
.middle__description p {
  font-size: 18px;
  margin: 0 100px 30px 100px;
  line-height: 30px;
}
.middle__description p:last-child {
  margin-bottom: 0;
}
.middle__title {
  color: #82079b;
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
}

.layer {
  margin-top: 100px;
}
.layer__title {
  font-size: 28px;
  text-align: center;
  margin: 15px auto;
  color: #524e4e;
}
.layer__body {
  display: flex;
  flex-wrap: wrap;
}
.layer__titles {
  color: #504c4c;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: start;
}
.layer__column {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  flex: 0 1 50%;
}
.layer__image {
  border: 2px solid #6565f8;
  box-shadow: 0 0 10px 3px #6b6bd4;
}
.layer__image:hover {
  box-shadow: 0 0 10px 10px blue;
}
.layer__description {
  padding: 0 15px 15px 15px;
}
.layer__text {
  overflow: hidden;
}

.columns {
  margin-bottom: 40px;
}
.columns h1 {
  text-align: center;
  font-size: 28px;
  color: #504c4c;
  margin: 20px auto;
}
.columns__body {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}
.columns__item {
  position: relative;
  border: 10px solid black;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.columns__title {
  font-size: 25px;
}
.columns__text {
  font-size: 20px;
}
.columns__button {
  width: 100%;
  background: #00faff;
  background: linear-gradient(90deg, #00faff 0%, #3897af 21%, #6092c6 50%, #3200ff 100%);
  border: 2px solid black;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.item_1 {
  background: url("../img/Безозjpg.jpg") no-repeat;
  background-size: 100% 100%;
}

.item_2 {
  background: url("../img/биллjpg.jpg") no-repeat;
  background-size: 100% 100%;
}

.item_3 {
  background: url("../img/стив.jpg") no-repeat;
  background-size: 100% 100%;
}

.footer {
  display: block;
  width: 100%;
  background: #0087f8;
  background: radial-gradient(circle, #0087f8 0%, #005e50 49%);
  text-align: center;
  line-height: 10px;
  color: white;
  font-size: 20px;
  line-height: 40px;
}
.footer a {
  color: white;
  font-size: 20px;
}
.footer a:hover {
  color: yellow;
}